.top_container   
    header.site_header
        .logo_container
            h1.logo Zhujing
        
        .nav_container
            nav.site_nav
                ul.nav_links
                    li: a(href="#about") .about
                    li: a(href="#blog") .blog
                    li: a(href="#projects") .projects
                    li: a(href="#resume") .resume
        
.left_container
    .social_nav_container
        ul.social_links
            li: a(href="https://www.facebook.com/wangzhujing") .facebook
            li: a(href="https://www.instagram.com/wngzhjng/") .instagram
            li: a(href="https://github.com/zhujingw") .github
            li: a(href="#linkedin") .linkedin
    .follow_icon_container    
.right_container
    .sub_nav_container
        p scroll down for more
