.mid_container
    .main_content_container
        .left_box
            .top_text_box
                h3.hello hello;
                h1.name I'M zhujing
                h4.skills i code/write/doodle
                ul.hashtags
                    li: tufts university
                    li: applied math
                    li: computer science
            .bottom_text_box
                p and i collect moments not things
        .right_box zhujing's photo
            
            
