mixin thumb
    a(href="" style="background-image: url(/assets/img/zj.png)").article-thumb
        .article-meta
            .name Article Name
            .date Sep 26, 1996


.mid_container
    .main_content_container
        .posts_container
            +thumb
            +thumb
            +thumb
            +thumb
            +thumb
            +thumb
            +thumb
            +thumb
            +thumb
            
